* {
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
form {
    width: 300px;
    border: 5px solid teal;
    margin: 20px auto;
    padding: 60px;
    border-radius: 10px;
}
input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 5px;
    margin-top: 30px;
}
button {
    width: 100px;
    padding: 5px;
    margin-top: 30px;
}